type hal_fingerprint_even, domain;
hal_client_domain(hal_fingerprint_even, hal_fingerprint)
hal_server_domain(hal_fingerprint_even, hal_fingerprint)

type hal_fingerprint_even_exec, system_file_type, exec_type, file_type;
init_daemon_domain(hal_fingerprint_even)
